<c-card>
  <c-card-header>
    <h3>Formulário de Viagens</h3>
  </c-card-header>

  <c-card-body>
  <c-row>  
    <c-col [xs]>
      <label for="nome">Destino:</label>
      <input  [(ngModel)]="viagem.nome_destino" id="nome"
      cFormControl
      placeholder="Destino">
      </c-col>
    <c-col [xs]>
    <label for="categoria_destino">Categoria destino:</label><br>
    <select [(ngModel)]= "viagem.nomeCategoria" name="nomeCategoria" aria-label="Default select example" cSelect>
      <option>Selecione a Categoria</option>
      <option *ngFor="let option of selecionarLista" [ngValue]="option._id" placeholder="Destino">
        {{ option.nomeCategoria }}
      </option>

</select><br>
</c-col>
</c-row>

<label for="dia_primeiro_dia">Primeiro Dia:</label>
<textarea  type="text" [(ngModel)]="viagem.dia_primeiro_dia" id="dia_primeiro_dia"
cFormControl
placeholder="Descrição completa do primeiro dia" rows="4"></textarea>
<br />

<label for="noite_primeiro_dia">Noite Primeiro Dia:</label>
<textarea type="name" [(ngModel)]="viagem.noite_primeiro_dia" id="noite_primeiro_dia"
cFormControl
placeholder="Descrição completa da primeira noite" rows="4"></textarea>
<br />

<label for="dia_segundo_dia">Segundo Dia:</label>
<textarea type="name" [(ngModel)]="viagem.dia_segundo_dia" id="dia_segundo_dia"
cFormControl
placeholder="Descrição completa do segundo dia" rows="4"></textarea>
<br />


<label for="noite_segundo_dia">Segunda Noite:</label>
<textarea type="name" [(ngModel)]="viagem.noite_segundo_dia" id="noite_segundo_dia"
cFormControl
placeholder="Descrição completa da segunda noite" rows="4"></textarea>
<br />

<c-row>
<c-col [xs]>

<label for="local_hospedagem">Local Hospedagem:</label>
<input type="name" [(ngModel)]="viagem.local_hospedagem" id="local_hospedagem"
cFormControl
placeholder="Local Hospedagem">

</c-col>
<c-col [xs]>
  <label for="gasto_total">Gastos durante a viagem:</label>
  <input type="number" [(ngModel)]="viagem.gasto_total" id="gasto_total"
  cFormControl
  placeholder="Gasto total"> 
</c-col>
</c-row>

<label for="foto_destino1">URL da Foto:</label>
<input type="text" [(ngModel)]="viagem.foto_destino1" id="foto_destino1"
cFormControl
placeholder="Insira a URL da sua viagem">
<br />

<button (click)="cancelar()" cButton color="danger" id="botaocalcelar" >Cancelar</button>
<button (click)="salvar()" cButton color="primary" id="botaoacao">{{botaoAcao}}</button>

<h4>{{mensagem}}</h4>
<br />
  </c-card-body>
</c-card>