input, select {

    width: 100%;
}

#dia_primeiro_dia , #noite_primeiro_dia , #dia_segundo_dia, #noite_segundo_dia, #foto_destino1{
    width: 100%;
}

#botaoacao{
    width: 20%;
    margin-left: 60%;
}

#botaocalcelar{
    width: 20%;

}