table {
    border-collapse: collapse;
    width: 100%;
}

th, td , #botao1{
    border: 1px solid rgb(133, 127, 127);
    text-align: left;
    padding: 8px
}

#novaviag{
    width: 30%;
}
#btnovaviag{
    width: 20%;
    margin-left:auto;
}